body {
  background-image: url("./img/rickAndMortyBackground.png");
  background-size: contain;
  background-repeat: repeat-y;
}

.container-fluid {
  padding: 0;
}

.likeImageButton {
  padding-right: 5px;
  position: relative;
  bottom: 2px;
}

.gallery {
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.oneCharacter {
  background-color: white;
  width: 22%;
  padding: 0;
}

.charactersImg {
  width: 100%;
}

.btn {
  width: 80%;
  margin: 0 auto;
  border: 1px solid rgb(0, 167, 76);
}

.characterName {
  margin: 0 auto;
  width: 80%;
  text-align: left;
  font-weight: bolder;
  padding: 10px 0;
}

.greenOnClick {
  background-color: rgb(0, 167, 76);
  color: white;
}
